.view-content {

    .views_slideshow_cycle_teaser_section {
        background-image: radial-gradient(#adadad,#e4e4e4,white);
        border-radius: 5px;
    
        .views-row {

            margin: 0px;
            padding: 3px;
            border: 1px #00000029 solid;

            .field-content {
                height: 276px;
                text-align: center;
                margin: 3px;

                background-size: cover;
        
                img {
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);

                    height: 100%;
                    width: auto;
                }
        
            }
        
            .views-field-title {
                text-align: center;
                background-color: #0000001a;
                border-radius: 5px;
            }

        }

    }
    
    .views-slideshow-controls-bottom {
        background-image: linear-gradient(#e4e4e4,#adadad);

        li {

            &.active {
                background: green;
                box-shadow: 0px 0px 5px 2px black;
            }

        }

    }

}

