@mixin mobile {
    @media (min-width: 0) and (max-width: #{$tablet-width - 1px}) {
      @content;
    }
}
  
@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px }) {
      @content;
    }
}
  
@mixin desktop {
    @media (min-width: #{$desktop-width}) {
      @content;
    }
}

@mixin  not-mobile {
  @include tablet { @content };
  @include desktop { @content }
}