.page--404--not--found {

    text-align: center;
    background-color: #f6f6f6;

    p {
        font-size: 30px;
        font-weight: bold;
        color: #5d6470;
        text-shadow: black 1px 1px 0px;
    }

}