.contact-message-contato-form {

    .form-item-name, .form-item-mail {
        display: none;
    }

    .form-type-textfield {
        label {
            &.js-form-required {
                content: 'Assunto';
                // display: none;
            }
        }
    }

    .form-type-managed-file {

        .form-managed-file {
            display: inline-flex;
        }

        .description {
            color: #ea5252;
            display: inline-flex;
        }

    }

    label[for="edit-field-attachment-file-0-upload"] {
        display: none;
    }

}