.view-ingredients, .view-id-recipe_type {

    padding: 10px;
    border: 1px dashed #00000040;

    background-image: linear-gradient(to bottom right,#f3f1f1,#fff, #f3f1f1);
    box-shadow: 0px 0px 1px 0px #000000ad;
    
    .views-field-name {
        border-bottom: 1px solid #00000030;
    }

}