.block-block-content {

    .content {

        background-repeat: no-repeat;
        height: 281px;
        background-position-x: 100%;
        padding: 5px;

        @include mobile {
            background-position-x: 50%;
        }

    }

    .field--name-field-main-message, .field--name-field-secundary-message {
        color: white;
        margin: 5px;
    }
    
    .field--name-field-main-message {
        font-size: 30px;
        font-weight: bold;
        background-color: #00000036;
        padding: 3px;
        width: fit-content;
        margin: 5px
    }
    
    .field--name-field-secundary-message {
        font-size: 20px;
        background-color: #0000001f;
        padding: 3px;
        width: fit-content;
    }

}



