.section {

    .region-content {

        .field--name-field-recipe-type {

            .field__label {
                display: none;
            }
            
            .field__items {
                
                display: inline-flex;

                .field__item:not(:first-child) {

                    a:before {
                        content: ", ";
                    }

                }

            }

        }

        .field--name-field-images {

            display: contents;
            text-align: center;

            .field__item {
                
            }

        }

        .field--name-field-ingredients {

            border: 1px dashed #00000040;
            padding: 10px;
            width: fit-content;

            .field__label {
                margin-bottom: 10px;
            }

            .field__items {

                .field__item {

                    display: inline;

                    .paragraph--type--ingredients {
                        border-bottom: 1px solid #00000030;
                    }

                    a {
                        border-bottom: none;
                        pointer-events: none;
                        color: $text-primary;
                    }

                }

            }

        }

        .field--name-field-prepare-mode {
            
            margin-top: 10px;
            padding: 5px;
            box-shadow: 0px 0px 1px 1px #0000003d;

        }

    }

}