.view-content {

    .views-row {

        margin: 5px;
        border-radius: 5px;

        .views-col {
            //box-shadow: 0px 0px 1px 0px #0000004f;

            .views-field-field-images {
                text-align: center;
                padding: 5px;
            }
    
            .views-field-title {
                text-align: center;
                padding: 5px;
            }
    
            .views-field-field-description {
                padding: 5px 3px;
            }
    
            .views-field-field-recipe-type {
                text-align: center;
                font-size: .9em;
                padding: 5px;
            }
    
        }

    }

}