.block-system-branding-block {

    position: relative;
    transform: translateX(-50%);
    left: 50%;

    .site-branding__logo { 
 
        margin: 0px 14px;

        img {
            width: 64px; 
            height: 64px;
        }
    
    }

    .site-branding__text {

        .site-branding__slogan {
            text-align: center;
            font-style: normal;
            font-weight: bold;
        }

    }

}