#block-food-recipes-main-menu {
    $border-radius-menu: 5px;

    border-radius: $border-radius-menu $border-radius-menu 0px 0px;
    width: auto;

    position: relative;
    bottom: 0px;
    left: 0px;
    margin: 0;

    .content {

        @include mobile {

            ul {
                
                display: block;

                li {

                    text-align: center;

                    .block-search {

                        padding: 5px;
                        height: 50px;

                        background-color: rgba(255, 255, 255, 0.4);
                        border-radius: $border-radius-menu;
                        border: 1px solid #00000082;

                        h2 {
                            display: none;
                        }

                        .form-search {
                            width: 85%;
                        }

                        .search-form__submit button {
                            width: 10%;
                        }

                    }

                }

            }

        }

        @include not-mobile
        {

            ul {

                display: flex;
                justify-content: center;
    
                li {
    
                    padding: 0;
                    margin: 0;
    
                    & .is-active {
                        color: #2f4c95;
                        box-shadow: 0px -2px 1px 1px #00000080;
                        background-color: #ffffff;
                        font-weight: bolder;   
                    }
    
                    a {
                        border-radius: 0;
                    }
    
                    &:first-child a {
                        border-radius: $border-radius-menu 0px 0px 0px;
                    }
        
                    &:last-child a {
                        border-radius: 0px $border-radius-menu 0px 0px;
                    }
    
                }
    
            }

        }

    }

}