#block-food-recipes-account-menu {

    border: none;
    width: auto;

    .content {

        ul {

            li {

                a {
                    text-align: right;
                    border: none;
                }

                &:not(:first-child) {
                    border-left: 1px solid #fff6;
                }

            }

        }

    }

}