.language-switcher-language-url {

    .content {
        
        ul {

            li {

                &.is-active {

                    font-weight: bold;
                    background-color: #ffffff2e;

                }

            }

        }

    }

}