#block-food-recipes-tools {

    width: auto;
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 0px;

    .content {

        ul {

            li {



            }

        }

    }

}